#main_picture{
    width: 200px;
    height: 500px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.main_blocks{
    display: inline-block;
}

#main_blurb{
    position: absolute;
    top: 200px;
    left: 300px;
}

#myCanvas{
    border:1px solid #d3d3d3;
    width: 500px;
    height: 350px;
    margin-left: 100px;
    margin-right: 100px;
}